.visually-hidden {
  position: absolute;
  height: 0px;
  width: 0px;
  opacity: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
ol {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
}

.logo-link {
  text-decoration: none;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  display: flex;
}

.logo {
  color: #2196f3;
}

.logo-footer-studio {
  color: #ffffff;
}

.logo-footer {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .icon-mail {
    display: none;
  }
  .icon-smartphone {
    display: none;
  }
  body {
    max-width: 768px;
    min-width: 200px;
    overflow-x: hidden;
    margin: 0 auto;
  }
  .header {
    max-width: 768px;
    min-width: 300px;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header__navigation {
    width: 100%;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  .header__mobile-button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: 40px;
    height: 40px;
  }
  .header__close-button {
    position: absolute;
    top: 10px;
    right: 23px;
    background-color: #fff;
  }
  .header__close-button:hover, .header__close-button:focus {
    fill: #2196f3;
  }
  .current {
    color: #2196f3;
  }
  .header__mobile-menu {
    position: fixed;
    overflow-y: scroll;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 40px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
  .header__mobile-menu.is-open {
    opacity: 100%;
    transform: translateY(0);
  }
  .header-item:not(:last-child) {
    margin-bottom: 35px;
  }
  .nav-header {
    margin-bottom: 302px;
  }
  .studio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .studio:hover, .studio:focus {
    text-decoration: none;
    color: #2196f3;
  }
}
.header__contacts-item:first-child {
  margin-bottom: 32px;
}

.header__contacts-link {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-contacts {
  margin-bottom: 64px;
}

.header__contacts-link.header__phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.icon-mobile,
.icon-envelope {
  display: none;
}

.header__social-network-list {
  display: flex;
  margin-top: auto;
  flex-wrap: wrap;
}

.header__social-network-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header__social-network-item:not(:first-child) {
  margin-left: 10px;
}

.header__social-network-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 88px;
  }
  .header__mobile-button {
    display: none;
  }
  .header__close-button {
    display: none;
  }
  .current {
    color: #2196f3;
  }
  .header__mobile-menu {
    display: flex;
    height: 80px;
  }
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
  .studio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .studio:hover, .studio:focus {
    color: #2196f3;
    text-decoration: none;
  }
  .header__contacts-link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts-link:hover, .header__contacts-link:focus {
    color: #2196f3;
    text-decoration: none;
  }
  .header__social-network-list {
    display: none;
    margin-top: auto;
    flex-wrap: wrap;
  }
  .header__social-network-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header__social-network-item:not(:first-child) {
    margin-left: 10px;
  }
  .header__social-network-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .nav-header {
    margin-right: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__navigation {
    display: flex;
    padding-right: 0px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .header__container {
    display: flex;
    justify-content: center;
  }
  body {
    max-width: 1200px;
    min-width: 200px;
    overflow-x: hidden;
    margin: 0 auto;
  }
  .header {
    max-width: 1200px;
    min-width: 300px;
  }
  .header__contacts-item {
    position: relative;
  }
  .icon-mail {
    position: absolute;
    top: 7px;
    left: -25px;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    cursor: pointer;
    fill: currentColor;
  }
  .icon-smartphone {
    position: absolute;
    top: 5px;
    left: -25px;
    margin-right: 10px;
    width: 10px;
    height: 16px;
    cursor: pointer;
    fill: currentColor;
  }
  .nav-contacts {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
  }
  .header__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }
  .header__wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 93px;
  }
  .header__navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header__mobile-button {
    display: none;
  }
  .header__close-button {
    display: none;
  }
  .current {
    color: #2196f3;
  }
  .header__mobile-menu {
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
  }
  .nav-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .studio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .studio:hover, .studio:focus {
    text-decoration: none;
    color: #2196f3;
  }
  .header__contacts-item:last-child {
    margin-left: 50px;
  }
  .header__contacts-item {
    position: relative;
  }
  .header__contacts-link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts-link:hover, .header__contacts-link:focus {
    color: #2196f3;
    text-decoration: none;
  }
  .header__contacts-list {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header__social-network-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header__social-network-item:not(:first-child) {
    margin-left: 10px;
  }
  .header__social-network-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .icon-mail {
    position: absolute;
    top: 7px;
    left: -25px;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    cursor: pointer;
    fill: currentColor;
  }
  .icon-smartphone {
    position: absolute;
    top: 5px;
    left: -20px;
    margin-right: 10px;
    width: 10px;
    height: 16px;
    cursor: pointer;
    fill: currentColor;
  }
}/*# sourceMappingURL=main.css.map */