.mail {
    color: var(--primary-text-color);
}
/* filters assortment */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.btn:hover {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
}
.btn:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
}
/* assortment */
.categories {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
   letter-spacing: 0.03em;
    color: var(--primary-text-color);
}