
@media screen and (max-width: 767px) {
    .preference-sec {
      margin: 0 auto;
      padding: 60px 15px;
    }
    .preference-sprite {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 70px;
      height: 70px;
    }
    .preference {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .preference-attention {
      background-color: #f5f4fa;
      border-radius: 3%;
      height: 120px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 738px;
    }
    .preference-details {
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      color: #212121;
      margin-bottom: 10px;
    }
    .preference-list {
      max-width: 738px;
      min-width: 300px;
    }
    .preference-list:not(:first-child) {
      margin-top: 30px;
    }
    .preference-about {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
  
  @media screen and (min-width: 768px) {
    .preference-sec {
      margin: 0 auto;
      padding: 60px 0;
    }
    .preference-sprite {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 70px;
      height: 70px;
    }
    .preference {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .preference-attention {
      background-color: #f5f4fa;
      border-radius: 3%;
      height: 120px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 738px;
      width: 100%;
    }
    .preference-details {
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      color: #212121;
      margin-bottom: 10px;
    }
    .preference-about {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #757575;
    }
    .preference-list {
      max-width: 350px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .preference-list {
      max-width: 350px;
    }
    .preference-list:nth-child(-n + 2) {
      margin-bottom: 50px;
    }
    .preference-list:nth-child(odd) {
      margin-right: 30px;
    }
  }
  
  @media screen and (min-width: 1199px) {
    .preference-list {
      max-width: 270px;
      margin-bottom: 0px;
    }
    .preference-list:not(:last-child) {
      margin-right: 30px;
    }
    .preference-sec {
      margin: 0 auto;
      padding: 94px 0;
    }
  }
  
  @media screen and (max-width: 1200px) {
    
  .preference-about {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
  }}