.page {
    background-color: $secondary-text-color;
    color: $primary-text-color;
    font-family: $fontFamily;
}
h1, h2, h3, h4, h5, h6, p, ul 
{
    margin: 0px;
}
* {
    box-sizing: border-box;
    /* outline: 1px solid orangered; */
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0px;
}
