.logo-link  {
    text-decoration: none;
    color: $title-text-color;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    display: flex;
  }
  
  @media screen and (max-width: 767px) {
    .logo-link  {
      margin-bottom: 20px;
    }
  }
  .logo {
    color: $accent-color;
  }
.logo-footer-studio {
    color: $secondary-text-color;
  }
  .logo-footer {
    color: $accent-color;
  }
