.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.btn {
    min-width: 75px;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    background: $background-color-2;
    border-radius: 4px;
    border-style: solid;
    border-color: $background-color-2;
    cursor: pointer;
    padding: 6px 22px;
    font-family: inherit;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, backgoround-color, box-shadow;
  
    &:hover,
    &:focus {
      color: $secondary-text-color;
      background: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
@media screen and (min-width: 480px) and (max-width: 767px){
    .clients-container-p {
       
        margin-left: auto;
        margin-right: auto;
      } 
      .botn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 40px;
      }
      .btna {
        outline: none;
        list-style-type: none;
    
        &:not(:last-child) {
          margin-right: 8px;
        }
        &:nth-child(-n + 3) {
          margin-bottom: 15px;
        }
        &:first-child {
            margin-left: 15px;
          }
          &:nth-child(4) {
            margin-left: 15px;
          }
      }
      .categories-item{
        outline: none;
        width: 450px;
      }
        .categories-description {
            display: block;
            @include flex-centre ($jc:space-between);
            flex-wrap: wrap;
            gap: 30px;
            margin: 0px;
            flex-basis: calc((100% - 60px) / 3);
        }
        .catego {
            outline: none;
            display: block;
        &:hover,
        &:focus{
            transition: shadow 250ms  $cubic-bezier;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
        }
        .description{
            outline: none;
            position: relative;
            overflow: hidden;
            &-img{
                display: block;
                max-width: 450px;
                width: 100%;
              height: 100%;
            }
        }
        .description-product{
            @include Roboto-400 ($fsz: 18px, $lh: 1.56, $col: $secondary-text-color);
            position: absolute;
            overflow: auto;
            width:100%;   
            height: 100%;
            top: 0;
            left: 0;
            padding: 63px 24px;
            transform: translateY(100%);
            background-color: $accent-color;
            transition: transform 250ms  $cubic-bezier;
        }
    .catego:hover .description-product,
    .catego:focus .description-product{
        transform:translateY(0%);
    }
        .description-catego {
            border-right: 1px solid #EEEEEE;
            border-bottom: 1px solid #EEEEEE;
            border-left: 1px solid #EEEEEE;
            margin: 0px;
            padding: 20px 24px;
            &-categories {
                @include Roboto-700 ( $fsz: 18px, $lh: 2, $lp: 0.06em, $col: $title-text-color);
                margin: 0px;
                margin-bottom: 4px;}
                &-descr {
                    @include Roboto-400 ($fsz: 16px, $lh: 1.88, $col: $primary-text-color);
                    margin: 0px;
                    font-size: 16px;
                }
        }
}

@media screen and (min-width: 768px)and (max-width: 1199px) {
    .description-catego-categories {
        @include Roboto-700 ($fsz: 16px, $lh: 2, $lp: 0.03em);
        }
        .description-catego-descr{
            @include Roboto-400 ($fsz: 16px, $lh: 1.88)}
    .botn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 40px;
      }.description-catego {
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;}
    .btna {
        outline: none;
      list-style-type: none;
  
      &:not(:last-child) {
        margin-right: 8px;
      }}
      .description{
        outline: none;
        position: relative;
        overflow: hidden;
        &-img{
            display: block;
            max-width: 450px;
            width: 100%;
          height: 100%;
        }
    }
    .categories-item {
    outline: none;
    margin-top: 30px;
    position: relative;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    max-width: 354px;
    }
    .categories-description{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 50px;
    }
    .catego{
        outline: none;
        display: block;
        
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    &:hover,
    &:focus{
        transition: shadow 250ms  $cubic-bezier;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    }
    .catego:hover .description-product,
    .catego:focus .description-product{
        transform:translateY(0%);
    }
    .description-product{
        @include Roboto-400 ($fsz: 18px, $lh: 1.56, $col: $secondary-text-color);
        position: absolute;
        overflow: auto;
        width:100%;   
        height: 100%;
        top: 0;
        left: 0;
        padding: 63px 24px;
        transform: translateY(100%);
        background-color: $accent-color;
        transition: transform 250ms  $cubic-bezier;
    }
    .description{
    position: relative;
    overflow: hidden;
    }
    .logo-link, .header-logo, .footer-sub{
        outline: none;
    }
    .adress-map:hover,
    .adress-map:focus{
        fill:$accent-color;
    }
}
    

@media screen and (max-width: 1199px){

    

    .clients-container-p {
        
    
        margin-left: auto;
        margin-right: auto;
        display: flex;
     
        flex-direction: column;
      }







}



@media screen and (min-width: 1200px) {

    .clients-container-p {
        padding-right: 15px;
        padding-left: 15px;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
      .botn {
    margin-top: 94px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 50px;
    justify-content: center;
      }  
      .btna {
        outline: none;
        list-style-type: none;
    
        &:not(:last-child) {
          margin-right: 8px;
        }
        &:nth-child(-n + 3) {
          margin-bottom: 15px;
        }
      }

.botn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 50px;

    }
    
.btn {
    outline: none;
        border: none;
        @include Roboto-500 ($lh: 1.6);
        cursor: pointer;
        height: 38px;
        border-color: $background-color;
        background-color: $background-color-2;
        border-radius: 4px;
        padding: 6px 22px;
        transition: box-shadow 250ms  $cubic-bezier, color 250ms  $cubic-bezier, background-color 250ms  $cubic-bezier;
        &:not(:first-child){
            margin-left: 8px;}
        &:hover,
        &:focus {
            background-color: $accent-color;
            color: $secondary-text-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
        }  
    }
    .categories-description {
        @include flex-centre ();
        flex-wrap: wrap;
        gap: 30px;
        margin: 0px;
        flex-basis: calc((100% - 60px) / 3);
        padding-bottom: 94px;
    }
    .catego {
        outline: none;
        display: block;
    &:hover,
    &:focus{
        transition: shadow 250ms  $cubic-bezier;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    }
    .description{
        outline: none;
        position: relative;
        overflow: hidden;
        &-img{
        display: block;
        max-width: 450px;
        width: 100%;
        height: 100%;
        }
    }
    .description-product{
        @include Roboto-400 ($fsz: 18px, $lh: 1.56, $col: $secondary-text-color);
        position: absolute;
        overflow: auto;
        width:100%;   
        height: 100%;
        top: 0;
        left: 0;
        padding: 63px 24px;
        transform: translateY(100%);
        background-color: $accent-color;
        transition: transform 250ms  $cubic-bezier;
    }
    .catego:hover .description-product,
    .catego:focus .description-product{
        transform:translateY(0%);
    }
    .description-catego {
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        margin: 0px;
        padding: 20px 24px;
        &-categories {
            @include Roboto-700 ( $fsz: 18px, $lh: 2, $lp: 0.06em, $col: $title-text-color);
            margin: 0px;
            margin-bottom: 4px;}
            &-descr {
                @include Roboto-400 ($fsz: 16px, $lh: 1.88, $col: $primary-text-color);
                margin: 0px;
                font-size: 16px;
            }
    }
    .categories-item{
    outline: none;}
}
