@media screen and (max-width: 767px) {
    .client-item:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .customers{
      padding: 60px 15px;
    }
  
    .clients-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .portfolio-section {
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-text-color;
      box-sizing: border-box;
      margin-bottom: 30px;
    }
    .our-clients-list {
      max-width: 480px;

      margin-top: -30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .client-item {
      margin-top: 30px;
      cursor: pointer;
      max-width: 210px;
      height: 92px;
      flex-basis: calc((100% - 60px) / 2);
    }
    .customers-li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid $links-color;
      border-radius: 4px;
      fill: $links-color;
      cursor: pointer;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill, border;
  
      &:hover,
      &:focus {
        fill: $accent-color;
        border: 1px solid $accent-color;
      }
    }
  }
  
  @media screen and (min-width: 768px) {

  
    .customers{
      padding: 60px 15px;
    }
    .portfolio-section {
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-text-color;
      box-sizing: border-box;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .our-clients-list {
      margin-left: -30px;
      display: flex;
      flex-wrap: wrap;

    }
  
    .client-item {
      cursor: pointer;
      height: 92px;
      flex-basis: calc((100% - 90px) / 3);
      max-width: 226px;
    }
    .customers-li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid $links-color;
      border-radius: 4px;
      fill: $links-color;
      cursor: pointer;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill, border;
  
      &:hover,
      &:focus {
        fill: $accent-color;
        border: 1px solid $accent-color;
      }
    }
  
    @media screen and (max-width: 1199px) {
      .container {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
      }
      .client-item {
        margin-left: 30px;
  
        &:not(:nth-last-child(-n + 3)) {
          margin-bottom: 30px;
        }
      }
    }
  }
  
  @media screen and (min-width: 1199px) {
    .customers{
      padding: 94px 0px;
    }
  
    .client-item {
      margin-bottom: 0px;
      cursor: pointer;
      max-width: 170px;
      height: 92px;
      flex-basis: calc((100% - 60px) / 2);
  
      &:not(:first-child) {
        margin-left: 30px;
      }
    }
    .our-clients-list {
      margin-left: 0px;
    }
  }