// flex

@mixin flex-centre($jc:center, $ai:center ) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;  
} 
// fonts
@mixin Raleway ($fst: normal, $fw:700, $fsz: 26px, $lh: 1.2, $lp: 0.03em, $col: #ffffff) 
{
font-family: 'Raleway';
font-style: $fst;
font-weight: $fw;
font-size: $fsz;
line-height: $lh;
letter-spacing: $lp;
color:$col;
}
@mixin Roboto-500 ($fst: normal, $fw:500, $fsz: 16px, $lh: 1.19, $lp: 0.03em, $col: #212121) 
{
font-family: 'Roboto';
font-style: $fst;
font-weight: $fw;
font-size: $fsz;
line-height: $lh;
letter-spacing: $lp;
color:$col;
}
@mixin Roboto-400 ($fst: normal, $fw:400, $fsz: 14px, $lh: 1.71, $lp: 0.03em, $col: #757575) 
{
font-family: 'Roboto';
font-style: $fst;
font-weight: $fw;
font-size: $fsz;
line-height: $lh;
letter-spacing: $lp;
color:$col;
}
@mixin Roboto-700 ($fst: normal, $fw:700, $fsz: 36px, $lh: 1.17, $lp: 0.03em, $col: #212121) 
{
font-family: 'Roboto';
font-style: $fst;
font-weight: $fw;
font-size: $fsz;
line-height: $lh;
letter-spacing: $lp;
color:$col;
}
@mixin Roboto-900 ($fst: normal, $fw:900, $fsz: 46px, $lh: 1.36, $lp: 0.06em, $col: #ffffff) 
{
font-family: 'Roboto';
font-style: $fst;
font-weight: $fw;
font-size: $fsz;
line-height: $lh;
letter-spacing: $lp;
color:$col;
}